@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

// --------------PAGE ACCUEIL-----------------

// SECTION HERO

.hero{
    background-image: url(../../../img/Hero.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 40px;

    h1{
        background-color: white;
        opacity: 60%;
        margin-top: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        margin-right: 20px;
        border-radius: 15px;
    }

    .text-accueil{
        font-size: 3rem;
        background-color: white;
        opacity: 60%;
        margin-top: 45%;
        border-radius: 15px;
        p{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
        }
    }
}

// SECTION CONNEXION

.connexion{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
    gap: 20px;
    border: 2px solid var.$couleur-card;
    border-radius: 15px;
    box-shadow: 2px 2px var.$couleur-card;

    .connexion-text{
        width: 60%;
        margin: 20px;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .connexion-img{
        width: 30%;
        padding: 20px;
        img{
            width: 90%;
            margin: 20px;
            border-radius: 15px;
            margin-top: 25%;
        }
    }
}

// SECTION GALERIE

.galerie-accueil{
    margin-bottom: 10%;
    margin-top: 10%;
    border: 2px solid var.$couleur-card;
    border-radius: 15px;
    box-shadow: 2px 2px var.$couleur-card;

    .galerie-text-accueil{
        margin: 20px;
        font-size: 1.5rem;
    }

        .card{
            display: flex;
            justify-content: center;
            margin: 20px;
            gap: 20px;

        .card-content{
            width: 30%;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 1.5rem;
            border: 2px solid var.$couleur-card;
            border-radius: 15px;
            box-shadow: 2px 2px var.$couleur-card;
            padding: 10px;
            padding-bottom: 5%;
        }

        .card-img{
            // width: %;
            // padding: 20px;
        
            img{
                width: 80%;
                height: 20vh;
                margin: 20px;
                border-radius: 15px;
            }
        }
    }
}
// --------------PAGE ARTICLE-----------------
.galerie-article{
    margin-bottom: 10%;
    margin-top: 10%;
    border: 2px solid var.$couleur-card;
    border-radius: 15px;
    box-shadow: 2px 2px var.$couleur-card;
    background-color: rgb(179, 211, 218);

        .galerie-article-card{
            display: flex;
            justify-content: center;
            margin: 20px;
            gap: 50px;

        .galerie-article-content{
            width: 70%;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 1.5rem;
            border: 2px solid var.$couleur-card;
            border-radius: 15px;
            box-shadow: 2px 2px var.$couleur-card;
            padding: 10px;
            background-color: white;
            text-align: center;
            padding-bottom: 3%;
        }

        .card-img{

            img{
                width: 80%;
                height: 50vh;
                margin: 20px;
                border-radius: 15px;
            }
        }
        .card-comment{
            border: 2px solid var.$couleur-card;
            border-radius: 15px;
            padding-bottom: 20px;
            margin: 20px;
        }
        .comment{
            font-size: 1.5rem;
        }
    }
}
// --------------PAGE GALERIE-----------------
.galerie{
    margin-bottom: 10%;
    margin-top: 10%;
    border: 2px solid var.$couleur-card;
    border-radius: 15px;
    box-shadow: 2px 2px var.$couleur-card;
    background-color: rgb(179, 211, 218);

    .galerie-text{
        margin: 20px;
        font-size: 1.5rem;
    }

        .galerie-card{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 20px;
            gap: 50px;

        .galerie-content{
            width: 40%;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 1.5rem;
            border: 2px solid var.$couleur-card;
            border-radius: 15px;
            box-shadow: 2px 2px var.$couleur-card;
            padding: 10px;
            background-color: white;
            text-align: center;
            padding-bottom: 3%;
        }

        .card-img{
            // width: %;
            // padding: 20px;
        
            img{
                width: 80%;
                height: 20vh;
                margin: 20px;
                border-radius: 15px;
            }
        }
    }
}

.btn-article{
    display: flex;
    justify-content: center;
    gap: 30px;
}
// Message d'alerte
.alert{
    color: var.$couleur-btn;
    text-align: center;
}

// --------------PAGE SE CONNECTER-----------------
.mb-3{
    text-align: center;
    margin: 20px;    
}
.login{
    text-align: center;
}
.connecting{
    text-align: center;
}


// --------------PAGE CONTACT-----------------