{% extends 'base.html.twig' %}

{% block title %}AddArticle{% endblock %}

{% block body %}
<div class="container form-add">
<h2>Créer votre article</h2>

    {{form_start(articleform)}}

        {{form_widget(articleform)}}
            <button class="btn-add">Ajouter l'article</button>

    {{form_end(articleform)}}
</div>
{% endblock %}
