{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
<section class="container">
    <div class="galerie">
        <div class="galerie-text">
            <h2>Notre Galerie</h2>
            <p>Découvrez notre galerie de photos inspirantes où vous pourrez partager vos merveilleux petits "Xolos" qu'ils soient dorés, tachetés, blancs, ou albinos.</p>
            <p>Un espace pour échanger conseils, photos, expériences et poser ses questions.</p>
        </div>
        <div class="galerie-card">
            <div class="galerie-content">
                <div class="card-img">
                    <img src="{{ asset('../assets/img/axocard1.jpg')}}" alt="Image Axolotl">
                </div>
                <h3>Patrick</h3>
                <p>Leucistique blanc</p>
                <p>Je vous présente Patrick mon Axolotl de 2 ans...</p>
            </div>
            <div class="galerie-content">
                <div class="card-img">
                    <img src="{{ asset('../assets/img/axolotl-fauve.jpg')}}"  alt="Image Axolotl">
                </div>
                <h3>Anton</h3>
                <p>Fauve</p>
                <p>Axolotl de 5 ans avec une couleur sauvage élevé encaptivité...</p>
            </div>
            <div class="galerie-content">
                <div class="card-img">
                    <img src="{{ asset('../assets/img/axocard3.jpg')}}" alt="Image Axolotl">
                </div>
                <h3>Derdre</h3>
                <p>Arlequin</p>
                <p>Mon tout premier Axolotl de 1 ans un peu timide et qui adore se cacher...</p>
            </div>
            <div class="galerie-content">
                <div class="card-img">
                    <img src="{{ asset('../assets/img/axocard4.jpg')}}" alt="Image Axolotl">
                </div>
                <h3>Kevin</h3>
                <p>Leucistique blanc</p>
                <p>Et voici Kevin, ça fait 4 ans que je l'ai avec moi...</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
