$couleur-principale : white;
$couleur-secondaire : black;
$couleur-card : #83C2C8;
$couleur-btn : #F2727B;
$couleur-nav : #F5CDD5;

$police-principale:"Roboto",sans-serif;
$police-secondaire:"Delius",sans-serif;