@use "../abstracts/variables" as var;

body {
    font-family: var.$police-principale;
    margin: 0;
}

h1{
    font-size: 2.5rem;
    font-family: var.$police-secondaire;
    text-transform: uppercase;
    color: var.$couleur-secondaire;
}

h2{
    font-family: var.$police-principale;
    font-size: 2rem;
    text-transform: uppercase;
}
h5{
    font-family: var.$police-principale;
    font-size: 1.5rem;
    text-transform: uppercase;
}